@charset "UTF-8";

.main {
  padding-bottom: 0;
}

.custom-title-info {
  float: left;
  position: relative;
  z-index: 29;
}

.toggle-secondary-navigation {
  margin-top: .3em;
}

/* secondary menu styles */
.menu-secondary {
  float: right;
}

.menu-secondary-items {
  margin-top: .3em;
}

/* 600 */
@media all and (min-width: 37.5em) {
  .pagination {
    padding: 0.75em 1.5em 1em;
  }

  .design-credit {
    margin-top: 10px;
  }
}

/* 800px */
@media all and (min-width: 50em) {
  .custom-title-info {
    margin-top: 0em;
  }
}

.project-status {
    margin: 1em 0;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-weight: 700;
    font-size: 13px;
}

.project-active {
    border-radius: 50px;
    background: #4BC94D;
    padding: .4em;
}

.project-inactive {
    border-radius: 50px;
    background: #FF8A3C;
    padding: .4em;
}

.project-client {
    border-radius: 50px;
    background: #D5AB09;
    padding: .4em;
}

.top-content {
    margin: 3em 0 0 0;
}
.entry-content {
    margin: 0;
}

.featured-image {
    padding-bottom: 38%;
}

.divider {
    padding: .5em;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.margin-0 {
    margin: 0;
}

code {
  padding: 0;
  background: None;
  text-wrap: nowrap;
  word-break: break-word;
}

.highlight {
  overflow: auto;
}

.highlight > div {
  width: fit-content;
}

.site-footer {
  padding-top: 0;
}

